<ul class="list list--block">
  {{#forEach apprenticeships}}
  <li class="list__item" data-category="{{ apprenticeship.category }}">
    <article class="apprenticeship grid">
      <div class="grid__item grid__item grid__item--two-thirds">
        <header class="apprenticeship__header">
          <h1 class="apprenticeship__header"><a href="{{apprenticeship.company_url}}">{{apprenticeship.company}}</a></h1>
        </header>
        <section class="apprenticeship__content">
          <p>{{apprenticeship.summary}}</p>
          <a class="apprenticeship__button button" href="{{apprenticeship.apply_url}}">{{apprenticeship.cta}}</a>
        </section>
      </div>
      <footer class="apprenticeship__footer grid__item grid__item--one-third">
        <ul class="apprenticeship__details list list--normal">
          <li class="list__item"><b class="list__item__title">Duration:</b><span class="list__item__content">{{apprenticeship.duration}}</span></li>
          <li class="list__item list__item--nested"><b class="list__item__title">Location:</b> 
            <ul class="list">
              {{#each apprenticeship.location}}
                <li class="list__item"><span class="list__item__content">{{ . }}</span></li>
              {{/each}}
            </ul>
          </li>
          <li class="list__item"><b class="list__item__title">Category:</b><span class="list__item__content">{{apprenticeship.category}}</span></li>
        </ul>
      </footer>
    </article>
  </li>
  {{/forEach}}
</ul>
