<section class="wrapper">
  <ul class="wrapper__inner list">
    {{#forEach apprenticeships}}
    <li class="list__item">
      <article class="apprenticeship">
        <header class="apprenticeship__header">
          <h1><a href="{{apprenticeship.company_url}}">{{apprenticeship.company}}</a></h1>
        </header>
        <section class="apprenticeship__description">
          <p>{{apprenticeship.summary}}</p>
          <a class="button button--apprenticeship" href="{{apprenticeship.apply_url}}">{{apprenticeship.cta}}</a>
        </section>
        <footer class="apprenticeship__details">
          <ul>
            <li><b>Deadline:</b> {{apprenticeship.deadline}}</li>
            <li><b>Timeframe:</b> {{apprenticeship.timeframe}}</li>
            <li><b>Duration:</b> {{apprenticeship.duration}}</li>
            <li><b>Location:</b> 
              <ul>
                {{#each apprenticeship.location}}
                  <li>{{ . }}</li>
                {{/each}}
              </ul>
            </li>
            <li><b>Category:</b> {{apprenticeship.category}}</li>
          </ul>
        </footer>
      </article>
    </li>
    {{/forEach}}
  </ul>
</section>