<ul class="list">
  {{#forEach apprenticeships}}
  <li class="list__item">
    <article class="apprenticeship">
      <section class="apprenticeship__content">
        <h1 class="apprenticeship__header"><a href="{{apprenticeship.company_url}}">{{apprenticeship.company}}</a></h1>
        <p>{{apprenticeship.summary}}</p>
        <a class="apprenticeship__cta" href="{{apprenticeship.apply_url}}">{{apprenticeship.cta}}</a>
      </section>
      <ul class="apprenticeship__details">
        <li><b>Deadline:</b> {{apprenticeship.deadline}}</li>
        <li><b>Timeframe:</b> {{apprenticeship.timeframe}}</li>
        <li><b>Duration:</b> {{apprenticeship.duration}}</li>
        <li><b>Location:</b> 
          <ul>
            {{#each apprenticeship.location}}
              <li>{{ . }}</li>
            {{/each}}
          </ul>
        </li>
        <li><b>Category:</b> {{apprenticeship.category}}</li>
      </ul>
    </article>
  </li>
  {{/forEach}}
</ul>
