<section class="wrapper">
  <ul class="wrapper__inner list">
    {{#forEach people}}
    <li class="l-block m-person">
      <h3 class="m-person__name">{{person.name}}</h3>
      <p class="m-person__summary">{{person.summary}}</p>
      <ul class="m-person__links">
        <li><a href="{{person.person_url}}">Personal Site</a></li>
        <li><a href="{{person.github_url}}">GitHub</a></li>
        <li><a href="{{person.twitter_url}}">Twitter</a></li>
      </ul>
    </li>
    {{/forEach}}
  </ul>
</section>