<section class="content__section">
  <ul class="list">
    {{#forEach people}}
    <li class="list__item person">
      <div class="grid grid--person">
        <div class="grid__item grid__item--one-quarter stagger">
          <a class="person__photo" href="{{person.url}}" title="{{person.name}}">
            <img src="../assets/img/{{person.photo}}.png" alt="{{person.name}}" />
          </a>
        </div>
        <div class="grid__item grid__item--three-quarters">
          <h3 class="person__name"><a href="{{person.url}}" title="{{person.name}}">{{person.name}}</a></h3>
          <p class="person__summary">{{person.summary}}</p>
        </div>
      </div>
    </li>
    {{/forEach}}
  </ul>
</section>
